/*Common*/
body{
    font-family:Open Sans,Segoe UI,Tahoma,sans-serif;
}

.little-wrapper{
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

img{
    max-width: 100%;
}


/*Top Header*/
.top-header a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
}

.top-header a:hover{
    text-decoration: underline;
}

.top-header li{
    display: inline-block;
    margin-left: 5px;
}

#lang li{
    border-right: 1px solid black;
    padding:0 8px;
}

#lang li:last-child{
    border: none;
}

#menu{
    text-align: right;
    line-height: 18px;
}

.burger-menu{
    font-weight: 25px;
    text-align: right;
}

/* jumbotron */
.jumbotron{
    background-image: url("../img/hero-bg.jpg");
    height: 600px;
    background-size: cover;
    position: relative;
}

.teaser{
    color:white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.teaser img{

    margin-top: 15px;

}

/* MAIN */
/* section produts */
#products{
    padding: 20px 0;
}

.col_inner{
    padding: 20px;
}

.col_content{
    padding:20px;
    text-align: center;
    background-color: #fafafa;
}

.col_content h3{
    font-size: 40px;
    margin-bottom: 10px;
}

.col_content p{
    font-size:26px;
    margin-bottom: 10px;
}

.col_content a{
    color: #0070c8;
    font-size: 26px;
    text-decoration:none;
}
/* End Section products */

/* section Phone */
#phone{
    background-image: url("../img/HelbizBanner.jpg");
    height: 500px;
}

#phone img{
    height: 650px;
    display: block;
    margin: auto;
    position: relative;
    top: 150px
}

#underphone{
    text-align: center;
    padding: 70px 0;
}
#underphone h3{
    font-size: 30px;
}

#underphone h6{
    font-size: 20px;   
}

@media screen and (max-width:991px){
    #underphone {
        margin-top:320pxpx;   
    }
}

.images{
    margin-top: 200px;
}

.box_content{
    position: relative;
    height: 350px;
    background-image: url("../img/ScooterHelbiz-2400.jpg");
    background-size: cover;
    margin-bottom: 40px;
}

.text{
    position:absolute;
    top: 50px;
    right: 100px;
    text-align: center;
    color: white;
    width: 30%; 
}

.text h2{
    font-size: 41px;
}

.text p{
    margin: 20px 0;
}

.text a{
    text-decoration: none;
    color:white;
}

.inner_lefter{
    padding-right: 20px;
}
.content_lefter{
    padding-right:20px;
    padding-bottom:20px;
}

.lefter{
    height: 350px;
    background-image: linear-gradient(#41566a, #252e38);
    text-align: center;
    color:white;
    padding : 20px;
    overflow: hidden;
}
.lefter p{
    margin: 10px 0;
}

.lefter a{
    text-decoration: none;
    color: White;
}

.righter{
    height: 350px;
    background-image: url("../img/cities-1500.jpg");
    background-size: cover;
    text-align: center;
    color:white;
    padding : 20px;
}

.righter p{
    margin: 10px 0;
}

.righter a{
    text-decoration: none;
    color: White;
}